@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: "Ubuntu", "Roboto";
  }
  body {
    @apply bg-background text-foreground;
  }
}