# Development Api url; specify if the api is not on the web url
# Requires an environment where Same Origin Policy is disabled
VITE_DEV_API_URL="https://battleshiper.dev"

# Footer informations (if empty nothing is displayed)
VITE_IMPRINT_HREF="https://hereshouldbeyourimprint"
VITE_PRIVACY_HREF="https://hereshouldbeyourprivacypolicy"
VITE_TOS_HREF="https://hereshouldbeyourtermsofservices"
VITE_CONTACT_1="your contact paragraph 1"
VITE_CONTACT_2="your contact paragraph 2"
VITE_CONTACT_3="your contact paragraph 3"